body {
    background: #F9F9F9;
    font-family: RobotoCondensed-Regular;
}

/*.dtSolicitudesWrapper {
    max-width: 1300px;
    margin: 0 auto;
}*/

.button-sep {
    display: inline-block;
    width: 0;
    height: 22px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    vertical-align: middle;
    margin-top: 5px;
}

.datagrid-row-selected {
    background: GoldenRod;
    opacity: 0.9;
    color: #fff;
}

/* WHIT/WITHOUT SHAPEFILE */
.with-shapefile {
    color: SkyBlue;
}

.without-shapefile {
    color: lightgray;
}

/* STATUS */
.status-certified {
    color: MediumSeaGreen;
}

.status-decreed {
    color: Teal;
}

.status-in-progress {
    color: SandyBrown;
}

.status-not-proceed {
    color: Crimson;
}

.status-returned {
    color: SteelBlue;
}

.LightGrey {
    color: LightGrey;
}





.rows-text {
    cursor: default;
    line-height: 28px;
}

.SeaGreen {
    color: SeaGreen;
}

.Brown {
    color: Brown;
}

.GoldenRod {
    color: GoldenRod;
}

.DodgerBlue {
    color: DodgerBlue;
}

.ForestGreen {
    color: ForestGreen;
}

.Chocolate {
    color: Chocolate;
}

.OliveDrab {
    color: OliveDrab;
}

.MediumSlateBlue {
    color: MediumSlateBlue;
}

.SkyBlue {
    color: SkyBlue;
}

.IndianRed {
    color: IndianRed;
}

.Maroon {
    color: Maroon;
}

.RoyalBlue {
    color: RoyalBlue;
}



/* TOOLTIPS */
.panelttWithShapefile {
    padding-left: 10px;
    background-color: SkyBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttWithoutShapefile {
    padding-left: 10px;
    background-color: lightgray;
    color: dimgrey;
    font-size: 0.9em;
}

.panelttStatusCertified {
    padding-left: 10px;
    background-color: MediumSeaGreen;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttStatusDecreed {
    padding-left: 10px;
    background-color: Teal;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttStatusInProgress {
    padding-left: 10px;
    background-color: SandyBrown;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttStatusNotProceed {
    padding-left: 10px;
    background-color: Crimson;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttStatusReturned {
    padding-left: 10px;
    background-color: SteelBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttHectareas {
    padding-left: 10px;
    background-color: #d89e00;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttVegetacion {
    padding-left: 10px;
    background-color: SeaGreen;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttOVegetacion {
    padding-left: 10px;
    background-color: DodgerBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttObservaciones {
    padding-left: 10px;
    background-color: DodgerBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttArboles {
    padding-left: 10px;
    background-color: ForestGreen;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttMamiferos {
    padding-left: 10px;
    background-color: Maroon;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttAves {
    padding-left: 10px;
    background-color: Chocolate;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttAnfibios {
    padding-left: 10px;
    background-color: OliveDrab;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttEpifitas {
    padding-left: 10px;
    background-color: MediumSlateBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttCuerposAgua {
    padding-left: 10px;
    background-color: SkyBlue;
    color: #FFFFFF;
    font-size: 0.9em;
}

.panelttSinEspecies {
    padding-left: 10px;
    background-color: IndianRed;
    color: #FFFFFF;
    font-size: 0.9em;
}

.backspaceIcon,
.backspaceIcon .a:hover {
    color: LightSlateGray !important;
    text-align: center !important;
    padding-top: 0.5rem !important;
}

.filterIcon,
.filterIcon .a:hover {
    color: DodgerBlue !important;
    text-align: center !important;
    padding-top: 0.5rem !important;
}

.textbox .textbox-text {
    color: DimGrey;
    text-align: center;
    font-weight: bold;
}

.datebox .combo-arrow {
    background-image: none;
    position: relative;
    text-align: center;
    padding-top: 0.25rem;
}

.datebox .combo-arrow:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
    color: Crimson;
}

/* ------------------------------------ */
.btn-save-form-add-new {
    color: #fff;
    background-color: SeaGreen;
    border-color: SeaGreen;
    opacity: 0.8;
}

.btn-save-form-add-new:hover {
    color: #fff;
    background-color: SeaGreen;
    border-color: SeaGreen;
    opacity: 0.9;
}

.btn-save-form-add-new.disabled {
    color: #fff;
    background-color: SeaGreen;
    border-color: SeaGreen;
    opacity: 0.5;
}

.btn-save-form-edit {
    color: #fff;
    background-color: DarkOrange;
    border-color: DarkOrange;
    opacity: 0.8;
}

.btn-save-form-edit:hover {
    color: #fff;
    background-color: DarkOrange;
    border-color: DarkOrange;
    opacity: 0.9;
}

.btn-save-form-edit.disabled {
    color: #fff;
    background-color: DarkOrange;
    border-color: DarkOrange;
    opacity: 0.5;
}





.label-textbox {
    color: DimGrey;
    font-size: 14px;
    opacity: 0.8;
}

.user-plus-icon-seagreen {
    position: relative;
}

.user-plus-icon-seagreen:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f234";
    color: SeaGreen;
}

.ban-icon {
    position: relative;
}

.ban-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f05e";
    color: indianred;
}